.Sidebar {
  flex: 1.5;
  min-width: 200px;
  /* border: 2px solid black;` */
  padding: 0.8rem;
}

.Sidebar_Header {
  display: flex;
}

.Sidebar_Header_Logo {
  padding: 0 0.5rem;
}

.Sidebar_Header_Title {
  padding: 0 0.5rem;
}

.Sidebar_Content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0.5rem 0;
  background-color: #fcfbff;
}

.Sidebar_Content_Item {
  display: flex;
  transition: all 0.2s;
}

.Sidebar_Content_Item_Logo {
  padding: 0.9rem;
}

.Sidebar_Content_Item_Title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #828282;
}

.Sidebar_Content_Item_Title_Selected {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #673ab7;
}

.Sidebar_Content_Item_Selected {
  display: flex;
  background-color: #e1d8f1;
  border-left: 3px solid #673ab7;
  margin-left: -0.2rem;
  color: #673ab7;
  cursor: pointer;
}

.Sidebar_Content_Item:hover {
  background-color: #e1d8f1;
  border-left: 3px solid #673ab7;
  margin-left: -0.2rem;
  color: #673ab7;
  cursor: pointer;
}
