.Department_List_Content {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.308);

  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.Department_List_Content_RadioButton {
  padding-right: 2.3rem;
}

.Department_List_Content_Items_DepartmentName {
  flex-grow: 0.5;
}

.Department_List_Content_Items_DepartmentName p {
  width: 170px;
}

.Department_List_Content_Items_ButtonContainer {
  flex-grow: 1;
  text-align: center;
  width: 80px;
}

.Department_List_Content_Items_ButtonContainer button {
  margin: 0 auto;
  border-radius: 20px;
  padding: 0.5rem 2rem;
}

.Department_List_Content_Items_ButtonNoAccess {
  background: #f2f2f2;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
}

.Department_List_Content_Items_ButtonAllAccess {
  color: #27ae60;
  background: rgba(39, 174, 96, 0.3);
  border: 1px solid #27ae60;
}

.Department_List_Content_Items_ButtonRestrictedAccess {
  background: rgba(255, 8, 8, 0.3);
  border: 1px solid #ff0808;
  border-radius: 20px;
}

.Department_List_Content_Summary {
  flex-grow: 1;
  text-align: center;
  width: 100px;
}

.Department_List_Content_Items_LastUpdated {
  flex-grow: 1;
  text-align: center;
}

.Department_List_Content_LastItem {
  display: flex;
  /* flex-grow: 1; */
}

/* .Department_List_Content {
  display: flex;
  padding: 1rem 0;
  border: 1px solid rgba(128, 128, 128, 0.308);

  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2px;
}

.Department_List_Content_RadioButton {
  padding-left: 1rem;
  margin-right: -1rem;
}

.Department_List_Content_Items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 3rem;
}

.Department_List_Content_Items_DepartmentName {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  letter-spacing: 0.2px;
  color: #000000;
}

.Department_List_Content_Items_ButtonContainer {
  text-align: center;
  min-width: 300px;
  margin-left: 4.5rem;
  display: flex;
  align-items: center;
  align-content: center;
}

.Department_List_Content_Items_ButtonContainer button {
  margin: 0 auto;
  border-radius: 20px;
  padding: 0.5rem 2rem;
}

.Department_List_Content_Summary > p {
  text-align: center;
  min-width: 300px;
  font-size: 14px;
  padding-top: 0.5rem;
  margin-left: 2.5rem;
}

.Department_List_Content_Items_LastUpdated {
  margin-left: 9.2rem;
}

.Department_List_Content_LastItem {
  text-align: left;
  flex-grow: 1;
}

.Department_List_Content:hover {
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.746);
}

.Department_List_Content_Items_ButtonNoAccess {
  background: #f2f2f2;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
}

.Department_List_Content_Items_ButtonAllAccess {
  color: #27ae60;
  background: rgba(39, 174, 96, 0.3);
  border: 1px solid #27ae60;
}

.Department_List_Content_Items_ButtonRestrictedAccess {
  background: rgba(255, 8, 8, 0.3);
  border: 1px solid #ff0808;
  border-radius: 20px;
} */
